a.hideDisplay{
	position: relative; /* This makes everything work.*/
	/* Allows you to layer overlapping elements. */
	z-index: 20; 
	color: #000;
	text-decoration: none
}

a.hideDisplay:hover{
	/* Allows you to layer overlapping elements. */
	z-index: 30; 
}

a.hideDisplay span.showDisplayOnHover{
	display: none
}

/* This will only display itself when the
* user hovers the mouse over the anchor. */
a.hideDisplay:hover span.showDisplayOnHover{ 
	display: block;
	position: absolute;

/* This sets the height of a line of text in the box. */
	line-height: 25px;

/* These position the box where it needs to go. */
	top: 25px;
	
/* These adjust the size of the box when it appears. */
	width: 600px;
	padding: 10px;
	
	border: 1px solid #666666;
	background-color: #c0cedd; 

/* text color */
	color: #000000;
 	text-align: left;
}

span.showHeaderDisplayOnHover {
	font-size: 18px;
	font-weight: Bold;
	color: blue;
}

span.showTimeOfDisplayOnHover {
	font-size: 14px; 
	font-weight: normal;
	color: #444;
}

span.showDurationOfDisplayOnHover {
	font-size: 14px; 
	font-weight: bold;
	color: red;
}

span.showBodyOfDisplayOnHover {
	font-size: 14px; 
	font-weight: normal;
	color: #444;
	line-height: 18px; 
}